@{
    Layout = "_Layout";
}
@section navbar{
    <ul>
        <li><a href="@Url.Action("Index","Home")">home</a></li>
        <li class="current"><a href="@Url.Action("Index","events")">events</a></li>
        <li><a href="@Url.Action("Index","Gallery")">gallery</a></li>
        <li><a href="@Url.Action("Index","News")">news</a></li>
        <li><a href="@Url.Action("Index","Contact")">contact</a></li>
        <li>
            @if (User.Identity.IsAuthenticated)
            {
                <form id="logout" action="@Url.Action("Logout", "Account")" method="POST">
                    <a href="javascript: $('#logout').submit()" class="last">
                        Logout
                        <br /><span class="tagline">@User.Identity.Name</span>
                    </a>
                </form>
            }
            else
            {
                <a href="@Url.Action("Login", "Account")" title="log in" class="last">
                    Login
                </a>
            }
        </li>
    </ul>
}
<div id="body">
    <div class="contents">
        <!-- start of content -->
        <h1>EVENTS</h1>
        <h2>Here are some of our Upcoming Competitions</h2>
            <a href="/events/create" class="button" style="color: #ff7800; float:right">Create Event</a>
        
        <ul class="articles">
            
                @foreach (var cEvent in Model)
                {
                    //trying to cycle through different images to display on webpage
                    string[] imageList = { "/images/event-bikers.jpg", "/images/event-biker.jpg", "/images/event-family.jpg" };
                    //foreach(var img in imageList)
                    //{
                    //    string name = img.ToString();
                    //    Write(name);
                    //    break;
                    //}
                    <li>
                        <a href="">
                            <img src=@foreach(var img in imageList)
                    {
                        string name = img.ToString();
                        Write(name);
                        break;
                    } width="208" height="148" alt="Bikers Club" title="Bikers Club">
                        </a>
                        <h3>@cEvent.Title<br /> By <span> @cEvent.Author </span> at <span>@cEvent.Location</span><br /> @cEvent.Time.ToString("dddd, dd MMMM yyyy") </h3>
                        <p>@cEvent.Body</p>
                    </li>
                }
            </ul>
            <!-- end of section -->

    </div>

</div>