@addTagHelper *, _1054686___Individual_Assignment
@{
    Layout = "_Layout";
}
@section navbar{
    <ul>
        <li><a href="@Url.Action("Index","Home")">home</a></li>
        <li><a href="@Url.Action("Index","Events")">events</a></li>
        <li><a href="@Url.Action("Index","Gallery")">gallery</a></li>
        <li><a href="@Url.Action("Index","News")">news</a></li>
        <li class="current"><a href="@Url.Action("Index","Contact")">contact</a></li>
        <li>
            @if (User.Identity.IsAuthenticated)
            {
                <form id="logout" action="@Url.Action("Logout", "Account")" method="POST">
                    <a href="javascript: $('#logout').submit()" class="last">
                        Logout
                        <br /><span class="tagline">@User.Identity.Name</span>
                    </a>
                </form>
            }
            else
            {
                <a href="@Url.Action("Login", "Account")" title="log in" class="last">
                    Login
                </a>
            }
        </li>
    </ul>
}
<div id="body">
    <div class="contents">
        <!-- start of content -->
        <h1>CONTACT DETAILS</h1>
        <br />
        <p>Address : 32 Morbi Suscipit Semquis Aliquet Consequat, 1234</p>
        <br />
        <p>Office Phone Number : (864) 232-3553</p>
        <br />
        <p>Fax Number : (864) 232-4160</p>
        <br />
        <p>Email : info@companyname.com</p>
    </div> <!-- end of contents -->
</div>  <!-- end of body wrapper -->