@model IEnumerable<_1054686___Individual_Assignment.Models.Post>
@{
    Layout = "_Layout";
}
@section navbar{
    <ul>
        <li><a href="@Url.Action("Index","Home")">home</a></li>
        <li><a href="@Url.Action("Index","Events")">events</a></li>
        <li><a href="@Url.Action("Index","Gallery")">gallery</a></li>
        <li class="current"><a href="@Url.Action("Index","News")">news</a></li>
        <li><a href="@Url.Action("Index","Contact")">contact</a></li>
        <li>
            @if (User.Identity.IsAuthenticated)
            {
                <form id="logout" action="@Url.Action("Logout", "Account")" method="POST">
                    <a href="javascript: $('#logout').submit()" class="last">
                        Logout
                        <br /><span class="tagline">@User.Identity.Name</span>
                    </a>
                </form>
            }
            else
            {
                <a href="@Url.Action("Login", "Account")" title="log in" class="last">
                    Login
                </a>
            }
        </li>
    </ul>
}

<div id="body">
    <div class="contents">
        <!-- start of content -->
        <div class="blogs">
            <div>
                <h1>Members News</h1>

                <h2 style="color: #BFA58E;">Bellow are a few of the latest posts from some of our Members</h2>
                <a href="/news/create" class="button" style="color: #ff7800;float:right;">Create Post</a>
                <!-- start of blog list -->
                <div class="blog-posts">
                    @foreach (var post in Model)
                    {
                        <article class="blog-post">
                            <h1>
                                @Html.ActionLink(post.Title, "Post", "News", new { year = post.Posted.Year, month = post.Posted.Month, key = post.Key })
                            </h1>
                            @if (post.Author == null)
                            {
                                <div class="details">
                                    Posted <span>@post.Posted.ToString("D")</span> by <span>Defualt</span>
                                </div>
                                <div class="content">
                                    @post.Body
                                </div>
                            }
                            else
                            {
                                <div class="details">
                                    Posted <span>@post.Posted.ToString("D")</span> by <span>@post.Author</span>
                                </div>
                                <div class="content">
                                    @post.Body
                                </div>
                            }
                        </article>
                    }
                </div>
                <!-- end of blog list -->

            </div>
            
        </div>
    </div> <!-- end of contents -->
</div>  <!-- end of body wrapper -->
