@model _1054686___Individual_Assignment.Models.Post
@{
    Layout = "_Layout";
}
@section navbar{
    <ul>
        <li><a href="@Url.Action("Index","Home")">home</a></li>
        <li><a href="@Url.Action("Index","Events")">events</a></li>
        <li><a href="gallery.htm">gallery</a></li>
        <li class="current"><a href="@Url.Action(" Index","News")">news</a></li>
        <li><a href="contact-us.htm">contact</a></li>
        <li>
            @if (User.Identity.IsAuthenticated)
            {
                <form id="logout" action="@Url.Action("Logout", "Account")" method="POST">
                    <a href="javascript: $('#logout').submit()" class="last">
                        Logout
                        <br /><span class="tagline">@User.Identity.Name</span>
                    </a>
                </form>
            }
            else
            {
                <a href="@Url.Action("Login", "Account")" title="log in" class="last">
                    Login
                </a>
            }
        </li>
    </ul>
}

<article class="blog-post">
    <h1>
        @Model.Title
    </h1>
    <p>Author: @Model.Author @Model.Posted</p>
    <p>@Model.Body</p>
</article>